<h4 class="text-center tituloListado">Nuestro catalogo de productos</h4>
<main class="listadoProductos">  
  <!-- Esta es modelado con display grid -->
  <div class="card producto" *ngFor='let modeloProducto of producto'>
    <img src="{{url + 'mostrarImagen/' + modeloProducto.imagen}}" class="card-img-top" alt={{modeloProducto.nombre}}>
    <div class="card-body">
      <h5 class="card-title">{{modeloProducto.nombre}}</h5>
      <p >Precio: <span class="text-muted"> <small> {{modeloProducto.precio | currency}} </small></span></p>
    </div>
    <a class="btn btn-primary w-75 mb-4 mx-auto" [routerLink]="['/detallesProducto', modeloProducto._id]" >Ver mas detalles...</a>
  </div> 
</main>
<div class="nubeListado">
  <app-nube-tags></app-nube-tags>
</div>
