<h2 class="text-center font-weight-bolder mt-2 tituloListado">Nuestro catalogo de productos variados</h2>
<main class="productos">  
  <div class="card" *ngFor='let modeloProducto of producto'>
    <div *ngIf='modeloProducto.imagen; then imgProd else noImg'></div>
    <ng-template #imgProd>
      <img src="{{url + 'mostrarImagen/' + modeloProducto.imagen}}" class="card-img-top pt-1" alt={{modeloProducto.nombre}}>
    </ng-template>
    <ng-template #noImg>
      <img src="../../../assets/img/no-imagen.jpg" class="card-img-top" alt={{modeloProducto.nombre}}>
    </ng-template>
    <div class="card-body">
      <h4 class="card-title text-center font-weight-bolder">{{modeloProducto.nombre}}</h4>

      <div *ngIf="(modeloProducto.tiempoPromo); else sinPromo">
        <h4 class="card-text mb-sm-2 font-weight-bolder"> Precio: <small> <del> {{modeloProducto.precio | currency}} </del> </small> </h4>
        <h4 class="card-text mb-sm-1 font-weight-bolder"> Promocion: <small> {{modeloProducto.precioPromo | currency}} </small> </h4>
        <h5 class="card-text mb-sm-1 font-weight-bolder"> Valido hasta: <small> {{modeloProducto.timerPromo }} </small> </h5>
      </div>

      <ng-template #sinPromo>
        <h4 class="card-text mb-sm-1 font-weight-bolder"> Precio: <small> {{modeloProducto.precio | currency}} </small> </h4>        
      </ng-template>      
    </div>

    <button class="btn btn-primary px-sm-4 mb-4 mx-auto stretched-link" [routerLink]="['/detallesProducto', modeloProducto._id]" >Ver mas detalles...</button>
  
  </div> 
</main>
<div class="nubeListado">
  <app-nube-tags></app-nube-tags>
</div>
