<div class="container">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
    <div class="card mx-auto my-4 border border-primary rounded">
      <div class="card-body">
        <h3 class="card-title text-center font-weight-bold">Esta es la informacion registrada</h3>
        <p class="card-text font-weight-bold">Nombres: <small class="font-weight-normal">{{nombres}}</small></p>
        <p class="card-text font-weight-bold">Nick Name: <small class="font-weight-normal">{{nickName}}</small></p>
        <p class="card-text font-weight-bold">Correo electronico: <small class="font-weight-normal">{{correo}}</small></p>
        <div class="contBotones d-flex flex-column flex-sm-row justify-content-around">
          <button (click)="eliminaUsuario()" class="btn btn-danger mb-2 mb-sm-0">Darse de baja </button>
          <button [routerLink]="['/listado']" class="btn btn-info">Ver listado productos</button>
        </div>
      </div>
    </div>
  </div>
</div>
