header,
main,
footer {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: .4rem .75rem;
}

header .input-group {
  margin: .4rem 0;
}

header .titulo-pagina {
  align-self: center;
}

menu {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0;
  margin: 0;
}

menu .list-group {
  padding: 0;
}

main .producto {
  border-bottom: .1rem dashed;
  padding-bottom: 1.2rem;
}

main .producto:last-child {
  border: none;
}

footer {
  color: white;
}

footer h6 {
  background-color: white;
  color: grey;
  font-weight: bold;
}

footer .form-subscribe,
.contacto,
.ubicacion,
.social {
  border: white solid .2rem;
  border-top: white solid;
}

footer .form-subscribe .form-group,
.cont-btns {
  padding: .2rem .6rem;
}

/* breakpoints personales */
/* Tamaño extra small*/
@media (max-width: 575.98px) {

  header,
  main,
  menu,
  section {    
    border-bottom: .9rem solid yellow;
    margin: .4rem 0 0;
  }

  p,
  label,
  input,
  .btn {
    font-size: .6rem;
  }

  header .img-logo {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  header .titulo-pagina {
    grid-column-start: 4;
    grid-column-end: 10;
  }

  header .btns-header {
    grid-column-start: 10;
    grid-column-end: 16;
    display: flex;
    justify-content: space-between;
  }

  menu {
    display: none;
  }

  section {
    grid-column-start: 1;
    grid-column-end: 16;
    display: flex;
    justify-content: center;
    margin: 0 0 0;
  }

  section img {
    width: 100%;
    margin: .9rem 0 .3rem;
  }

  section p {
    margin: .4rem 0;
  }

  footer {
    padding: 1.2rem .9rem;
  }

  footer .form-subscribe {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  footer .form-subscribe input,
  textarea {
    width: 100%;
    margin-top: .3rem;
  }

  footer label {
    margin-bottom: 0;
  }

  footer .cont-btns {
    display: flex;
    justify-content: space-around;
  }

  footer .ubicacion {
    grid-column-start: 8;
    grid-column-end: 16;
    grid-row-start: 1;
  }

  footer .contacto {
    grid-column-start: 8;
    grid-column-end: 16;
    grid-row-end: 6;
  }

  footer .social {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 6;
  }
}

/* Tamaño small*/
@media (min-width: 576px) and (max-width: 767.98px) {

  header,
  main,
  menu,
  section {
    border-bottom: .9rem solid blue;
    grid-gap: 0;
  }

  p,
  label,
  input,
  .btn {
    font-size: .9rem;
  }

  header .cont-btns {
    padding-top: .3rem;
  }

  header .cont-btns button {
    padding-top: .2rem;
  }

  header .col-12 .input-group {
    justify-content: center;
  }

  header .img-logo {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  header .titulo-pagina {
    grid-column-start: 4;
    grid-column-end: 10;
  }

  header .cont-btns {
    grid-column-start: 10;
    grid-column-end: 16;
  }

  header .cont-btns .col-12 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  section {
    grid-column-start: 5;
    grid-column-end: 16;
    display: flex;
    justify-content: center;
  }

  section img {
    width: 100%;
    margin: .9rem 0 .3rem;
  }

  section p {
    margin: .4rem 0;
  }

  footer {
    color: white;
    padding: 1.2rem .9rem;
    font-size: .8rem;
  }

  footer .form-subscribe {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  footer .form-subscribe input,
  textarea {
    width: 100%;
    margin-top: .3rem;
  }

  footer label {
    margin-bottom: 0;
  }

  footer .cont-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .ubicacion {
    grid-column-start: 7;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-bottom: 1.2rem
  }

  footer .contacto {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 6;
  }

  footer .form-subscribe textarea {
    height: 125px;
  }

  footer .social {
    grid-column-start: 7;
    grid-column-end: 16;
    grid-row-end: 6;
  }

  /* Tamaño mediano*/
  @media (min-width: 768px) and (max-width: 991.98px) {

    header,
    main,
    menu,
    section {
      border-bottom: .9rem solid red;
    }

    p,
    label,
    input,
    .btn {
      font-size: .9rem;
    }

    header .cont-btns {
      padding-top: .3rem;
    }

    header .cont-btns button {
      padding-top: .2rem;
    }

    header .col-12 .input-group {
      justify-content: center;
    }

    header .img-logo {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    header .titulo-pagina {
      grid-column-start: 4;
      grid-column-end: 10;
    }

    header .cont-btns {
      grid-column-start: 10;
      grid-column-end: 16;
    }

    header .cont-btns .col-12 {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    section {
      grid-column-start: 5;
      grid-column-end: 16;
      display: flex;
      justify-content: center;
    }

    section img {
      width: 100%;
      margin: .9rem 0 .3rem;
    }

    section p {
      margin: .4rem 0;
    }

    footer {
      color: white;
      padding: 1.2rem .9rem;
      font-size: .8rem;
    }

    footer .form-subscribe {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 6;
    }

    footer .form-subscribe textarea {
      height: 150px;
    }

    footer .form-subscribe input,
    textarea {
      width: 100%;
      margin-top: .3rem;
    }

    footer label {
      margin-bottom: 0;
    }

    footer .cont-btns {
      display: flex;
      justify-content: space-between;

    }

    footer .ubicacion {
      grid-column-start: 7;
      grid-column-end: 16;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    footer .contacto {
      grid-column-start: 7;
      grid-column-end: 16;
      grid-row-end: 6;
      margin-top: 1.2rem;
      padding: 1rem 0;
      border-top: .1rem dashed;
    }

    footer .social {
      grid-column-start: 1;
      grid-column-end: 16;
      grid-row-start: 6;
      grid-row-end: span 1;
    }
  }

  /* Tamaño large*/
  @media (min-width: 992px) and (max-width: 1199.98px) {

    header,
    main,
    menu,
    section {
      border-bottom: .9rem solid green;
    }
  }

  /* Tamaño extra-large*/
  @media (min-width: 1200px) {

    header,
    main,
    menu,
    section {
      border-bottom: .9rem solid violet;
    }
  }
}