<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand d-sm-none" href="#">Categorias</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">    
    <!-- prueba con esto   -->
    
    <li class="categoria" *ngFor="let modeloCat of categoria">
        <a href="#" class="categoria">{{modeloCat.categoria}}</a>
        <ul class="d-flex flex-row flex-wrap">
            <li class="sub-cat">
                <a href="#">Celulares</a>
                <ul class="lista-producto">
                    <li><a href="#">Huawei</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Motorola</a></li>
                </ul>
            </li>
            
            <li class="sub-cat">
                <a href="#">Celulares</a>
                <ul class="lista-producto">
                    <li><a href="#">Huawei</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Motorola</a></li>
                </ul>
            </li>
            <li class="sub-cat">
                <a href="#">Televisores</a>
                <ul class="lista-producto">
                    <li><a href="#">Lg</a></li>
                    <li><a href="#">Panasonic</a></li>
                    <li><a href="#">Kalley</a></li>
                </ul>
            </li>
            <li class="sub-cat">
                <a href="#">Computadores</a>
                <ul class="lista-producto">
                    <li><a href="#">Acer</a></li>
                    <li><a href="#">Lenovo</a></li>
                    <li><a href="#">Hp</a></li>
                </ul>
            </li>                  
        </ul>
    </li>

    <!-- <li class="categoria">
        <a href="#" class="categoria">Papeleria</a>
        <ul class="d-flex flex-row flex-wrap">
            <li class="sub-cat">
                <a href="#">Libros</a>
                <ul class="lista-producto">
                    <li><a href="#">Novelas</a></li>
                    <li><a href="#">Ciencia ficcion</a></li>
                    <li><a href="#">Romance</a></li>
                </ul>
            </li>
            <li class="sub-cat">
                <a href="#">Utiles escolare</a>
                <ul class="lista-producto">
                    <li><a href="#">Cuadernos</a></li>
                    <li><a href="#">Pinturas</a></li>
                    <li><a href="#">Colores</a></li>
                </ul>
            </li>
            <li class="sub-cat">
                <a href="#">Computadores</a>
                <ul class="lista-producto">
                    <li><a href="#">Acer</a></li>
                    <li><a href="#">Lenovo</a></li>
                    <li><a href="#">Hp</a></li>
                </ul>
            </li>                    
        </ul>
    </li>

    <li class="categoria">
        <a href="#" class="categoria">Electrodomesticos</a>
        <ul class="d-flex flex-row flex-wrap">
            <li class="sub-cat">
                <a href="#">Neveras</a>
                <ul class="lista-producto">
                    <li><a href="#">Icasa</a></li>
                    <li><a href="#">Mabe</a></li>
                    <li><a href="#">Electrolux</a></li>
                </ul>
            </li>
            <li class="sub-cat">
                <a href="#">Lavadoras</a>
                <ul class="lista-producto">
                    <li><a href="#">Whirpool</a></li>
                    <li><a href="#">Lg</a></li>
                    <li><a href="#">Samsung</a></li>
                </ul>
            </li>
            <li class="sub-cat">
                <a href="#">Cocina</a>
                <ul class="lista-producto">
                    <li><a href="#">Estufas</a></li>
                    <li><a href="#">Licuadoras</a></li>
                    <li><a href="#">Cafeteras</a></li>
                </ul>
            </li>                    
        </ul>
    </li> -->
    <!-- termina prueba  -->

  </div>
</nav>
