<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand d-sm-none" href="#">Categorias</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">        
    <li class="categoria" *ngFor="let cat of misCategorias">
      <a [routerLink]="['/busqueda', cat.categoria]">{{cat.categoria}}</a>        
    </li>   
  </div>
</nav>
