<div class="container-md" *ngIf='arrayProductos?.length == 0'>
  <h2 class="text-center mt-4 mb-4">No se han encontrado productos</h2>
  <div class="row">
    <div class="d-flex flex-column flex-md-row">
      <div class="col-12 col-sm-10 col-md-7 col-lg-6 mx-auto mb-4">
        <img src="../../../assets/img/undraw_Lighthouse_frb8.svg" alt="Sin articulos para mostrar"
          class="w-75 d-block mx-auto">
      </div>
      <div class="col-12 col-sm-10 col-md-5 col-lg-4 mx-auto sinProductos">
        <app-nube-tags class="w-75" [parametros]="parametro">
        </app-nube-tags>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="card col-10 col-sm-6 col-md-4 col-lg-3">
      <div class="flex-column" *ngFor='let modeloProducto of arrayProductos'>
        <div class="card-img-top"><img src="{{url + 'mostrarImagen/' + modeloProducto.imagen}}" class="card-img-top" alt={{modeloProducto.nombre}}></div>
        <div class="card-body">
          <h3 class="card-title text-center">{{modeloProducto.nombre}}</h3>
          <h5 class="card-text"><strong>Precio: </strong><small class="text-muted">{{modeloProducto.precio}}</small></h5>
          <button class="btn btn-primary btn-block btn-sm mx-auto m-4" [routerLink]="['/detallesProducto', modeloProducto._id]"> Ver mas detalles </button>
        </div>
      </div>
    </div>
  </div> -->

<div class="busqueda" *ngIf='arrayProductos?.length > 0'>
  <h2 class="text-center font-weight-bolder mt-4 mb-4">Se han encontrado los siguientes productos</h2>
  <main class="productos">
    <div class="card" *ngFor='let producto of arrayProductos'>
      <img src="{{url + 'mostrarImagen/' + producto.imagen}}" class="card-img-top" alt={{producto.nombre}}>
      <div class="card-body">
        <h4 class="card-title font-weight-bolder text-center">{{producto.nombre}}</h4>
    
        <div *ngIf="(producto.tiempoPromo | date: 'shortDate') >= (fecha | date: 'shortDate'); else sinPromo">
          <h4 class="card-text mb-2 font-weight-bolder"> Precio: <small class="font-weight-normal text-muted"> <del> {{producto.precio | currency}} </del> </small> </h4>
          <h4 class="card-text mb-2 font-weight-bolder"> Promocion: <small class="font-weight-normal"> {{producto.precioPromo | currency}} </small> </h4>
        </div>

        <ng-template #sinPromo>
          <h4 class="card-text mb-2 font-weight-bolder"> Precio: <small class="font-weight-normal"> {{producto.precio | currency}} </small> </h4>        
        </ng-template>      

      </div>
      <button class="btn btn-primary px-sm-4 mb-4 mx-auto stretched-link" [routerLink]="['/detallesProducto', producto._id]" >Ver mas detalles...</button>
      
    </div>
  </main>
  <app-nube-tags class="d-flex flex-column" [parametros]="parametro">
  </app-nube-tags>
</div>
