<div class="detalleProducto">
  <div class="imagenProducto">
    <div *ngIf='producto.imagen; else mostrarImagen'>
      <img src="{{url + 'mostrarImagen/' + producto.imagen}}" class="img-fluid w-100 border-0" alt={{producto.nombre}}> 
    </div>
    <ng-template #mostrarImagen>
      <img src="../../../assets/img/no-imagen.jpg" class="img-thumbnail mt-4" alt={{producto?.nombre}} />
    </ng-template>
  </div>
  <div class="card border-0">
    <div class="card-body">
      <h3 class="nombreProducto mb-4 font-weight-bolder">{{producto.nombre}}</h3>
      <h4 class="card-text mb-2 font-weight-bolder"> Marca: <small> {{producto.marca}} </small> </h4>

      <div *ngIf="producto.tiempoPromo; else sinPromo">
        <h4 class="card-text mb-2 font-weight-bolder"> Precio: <small> <del> {{producto.precio | currency}} </del>
          </small> </h4>
        <h4 class="card-text mb-2 font-weight-bolder"> Promocion: <small> {{producto.precioPromo | currency}} </small>
        </h4>
        <h4 class="card-text mb-2 font-weight-bolder"> Valido hasta: <small> {{timerPromo}} </small>
        </h4>
      </div>
      
      <ng-template #sinPromo>
        <h4 class="card-text mb-2 font-weight-bolder"> Precio: <small> {{producto.precio | currency}} </small> </h4>
      </ng-template>

      <h4 class="card-text mb-2 font-weight-bolder"> Descripcion: <small> {{producto.descripcion}} </small> </h4>
      <div class="d-flex flex-column flex-sm-row justify-content-between mt-1 mt-md-2">
        <div>
          <button type="button" class="btn btn-transparent btn-block" data-toggle="tooltip" (click)="adminCarrito()"
            data-placement="top" title={{tituloCarrito}} [style.color]="cartButton ? 'green' : 'gray'">
            <span *ngIf="cartButton"><i class="fas fa-cart-plus"></i></span>
            <span *ngIf="!cartButton">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                <path fill-rule="evenodd"
                  d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z" />
              </svg>
            </span>
          </button>
          <small *ngIf="cartButton" class="d-block text-center">{{tituloCarrito}}</small>
          <small *ngIf="!cartButton" class="d-block text-center">{{tituloCarrito}}</small>
        </div>

        <div>
          <button type="button" class="btn btn-transparent btn-block" (click)="adminFavs()" data-toggle="tooltip"
            data-placement="top" title="{{tituloFavorito}}" [style.color]="favButton ? 'yellow' : 'black'">
            <span *ngIf="favButton"><i class="fas fa-star"></i></span>
            <span *ngIf="!favButton"><i class="far fa-star"></i></span>
          </button>
          <small *ngIf="favButton" class="d-block text-center">{{tituloFavorito}}</small>
          <small *ngIf="!favButton" class="d-block text-center">{{tituloFavorito}}</small>
        </div>

      </div>

      <div *ngIf="admin" class="card">
        <div class="card-header text-center mb-2 py-2 text-white bg-success w-100">Administracion de productos</div>
        <div class="d-flex justify-content-around my-2">
          <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
            data-target="#editarProducto">Editar</button>
          <button type="button" class="btn btn-danger btn-sm" (click)='eliminarProducto()'>Eliminar</button>
        </div>
      </div>

    </div>
  </div>
  
  <app-nube-tags [parametros]="parametro"></app-nube-tags>
  
  <app-carrousel-products [mainCategory]="producto.categoria" (idProd)='changeId($event)'></app-carrousel-products>
  
  <div class="widget"> 
    <a class="twitter-timeline" href="https://twitter.com/xataka?ref_src=twsrc%5Etfw">Tweets by xataka</a>
  </div>

</div>

<!-- Ventana emergente para actualizar producto -->
<div class="modal fade" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="exampleModalLabel">Ingresa los nuevos datos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="actualizaProd" (ngSubmit)='editarProducto()'>
          <div class="row d-flex">
            <div class="col-6 d-flex flex-column mb-3">
              <div class="form-group input-sm">
                <label>Nombre producto</label>
                <input class="form-control" type="text" name="nombre" #nombre='ngModel' [(ngModel)]="producto.nombre"
                  placeholder="Ingresa nombre del producto" required />
                  <small *ngIf='!producto.nombre' class="text-danger">El nombre no puede ir vacio</small>
              </div>

              <div class="form-group">
                <label class="mt-2">Marca del producto</label>
                <input class="form-control" type="text" name="marca" #marca='ngModel' [(ngModel)]="producto.marca"
                  placeholder="Ingresa nombre del producto" required />
                  <small *ngIf='!producto.marca' class="text-danger">La marca del producto no puede estar vacio</small>
              </div>

              <div class="form-group">
                <label class="mt-2">Precio producto</label>
                <input class="form-control" type="number" aria-controls="false" name="precio" #precio='ngModel' [(ngModel)]="producto.precio"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  placeholder="Ingresa precio del producto" required />
                  <small *ngIf='!producto.precio' class="text-danger">El precio no puede estar vacio</small>
              </div>

              <div class="form-group">
                <label class="mt-2">Precio promocion <small class="text-muted">(No requerido)</small></label>
                <input class="form-control" type="number" aria-controls="false" name="precioPromo" #precioPromo='ngModel'
                  [(ngModel)]="producto.precioPromo" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  placeholder="Debe ser menor al precio original" /> 
                  <small *ngIf='producto.precioPromo > producto.precio' class="text-danger">El precio promocional debe ser menor al precio original</small>
              </div>

              <div class="form-group">
                <label class="mt-2">Tiempo promocion <small class="text-muted">(No requerido)</small></label>
                <input class="form-control" type="date" min="{{fecha}}" name="tiempoPromo" #tiempoPromo='ngModel'
                  [(ngModel)]="producto.tiempoPromo" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  placeholder="Ingresa tiempo promocion valida"/>
                  <small *ngIf='(this.producto.precioPromo) && !producto.tiempoPromo' class="text-danger">Se debe establecer una fecha limite de promocion</small>
              </div>

              <div class="form-group">
                <label class="">Descripcion producto</label>
                <textarea class="form-control" name="descripcion" #descripcion='ngModel' rows="4"
                  [(ngModel)]="producto.descripcion" placeholder="Ingresa la descripcion del producto"></textarea>
                  <small *ngIf='!producto.descripcion' class="text-danger">Ingresa la descripcion del producto</small>
              </div>
            </div>

            <div class="col-6 d-flex flex-column mb-3">
              <div class="form-group">
                <label>Selecciona la Categoria</label>
                <select (change)='listarCategoria(producto.categoria)' class="form-control" name="categoria"
                  #categoria='ngModel' [(ngModel)]="producto.categoria">
                  <option value="0" disabled>Elige una opcion </option>
                  <option *ngFor="let cat of listaCategorias"> {{cat.categoria}} </option>
                </select>
                <small *ngIf='!producto.categoria' class="text-danger">Elige una categoria principal</small>
              </div>

              <div class="form-group">
                <label class="mt-3">Selecciona la SubCategoria</label>
                <select class="form-control" name="subCategoria" #subCategoria='ngModel'
                  [(ngModel)]="producto.subCategoria" required>
                  <option value="0" disabled>Elige una opcion </option>
                  <option *ngFor="let subCat of listaSubCategorias">{{subCat}}</option>
                </select>
                <small *ngIf='!producto.subCategoria' class="text-danger">El producto debe tener una subcategoria</small>
              </div>

              <div class="form-group">
                <label class="mt-2">Sube la imagen del producto</label>
                <angular-file-uploader [config]="afuConfig" (ApiResponse)="DocUpload($event)" class="mb-4">
                </angular-file-uploader>
                <div *ngIf="producto?.imagen; else mostrarImagen">
                  <button type="button" class="close" aria-label="Close mr-3"
                  data-toggle="tooltip" (click)="deleteImage(producto.imagen)" data-placement="top" 
                  title="Eliminar imagen"><span aria-hidden="true">&times;</span></button>
                  <img src="{{url + 'mostrarImagen/' + producto?.imagen}}" class="img-thumbnail w-75 mt-2 mx-auto d-block" alt={{producto.nombre}} />
                </div>
                <ng-template #mostrarImagen>
                  {{producto.imagen}}
                  <img src="../../../assets/img/no-imagen.jpg" class="img-thumbnail w-75 mt-2 mx-auto d-block" alt={{producto?.nombre}} />
                </ng-template>
                <!-- <img *ngIf="!producto?.imagen" src="../../../assets/img/no-imagen.jpg"
                  class="img-thumbnail w-75 mt-2 mx-auto d-block" alt={{producto?.nombre}} />
                <img *ngIf="producto?.imagen" src="{{url + 'mostrarImagen/' + producto?.imagen}}"
                  class="img-thumbnail w-75 mt-2 mx-auto d-block" alt={{producto.nombre}} /> -->
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-around">
            <button class="btn btn-primary" type="submit">Actualizar producto</button>
            <button type="button" class="btn btn-secondary" (click)="ngOnInit()" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>
