<div class="detalleProducto">
  <img *ngIf="producto.imagen" src="{{url + 'mostrarImagen/' + producto?.imagen}}" class="img-thumbnail" alt={{producto.nombre}}>
  <div class="card">
    <div class="card-body">
      <h3 class="nombreProducto mb-4 font-weight-bolder">{{producto.nombre}}</h3>
      <h4 class="card-text mb-2"> Marca: <small> {{producto.marca}} </small> </h4>
      
      <div *ngIf="(producto.tiempoPromo | date: 'shortDate') >= (fecha | date: 'shortDate'); else sinPromo">
        <h4 class="card-text mb-2 font-weight-bolder"> Precio: <small> <del> {{producto.precio | currency}} </del> </small> </h4>
        <h4 class="card-text mb-2 font-weight-bolder"> Promocion: <small> {{producto.precioPromo | currency}} </small> </h4>
      </div>

      <ng-template #sinPromo>
        <h4 class="card-text mb-2"> Precio: <small> {{producto.precio | currency}} </small> </h4>        
      </ng-template>      
      
      <h4 class="card-text mb-2"> Descripcion: <small> {{producto.descripcion}} </small> </h4>
      <div class="d-flex flex-column flex-sm-row justify-content-between mt-1 mt-md-2">
        <div>
          <button type="button" class="btn btn-transparent btn-block" data-toggle="tooltip" (click)="adminCarrito()"
            data-placement="top" title={{tituloCarrito}} [style.color]="cartButton ? 'green' : 'gray'">
            <span *ngIf="cartButton"><i class="fas fa-cart-plus"></i></span>
            <span *ngIf="!cartButton">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                <path fill-rule="evenodd"
                  d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z" />
              </svg>
            </span>
          </button>
          <small *ngIf="cartButton" class="d-block text-center">Esta en tu carrito compras</small>
          <small *ngIf="!cartButton" class="d-block text-center">Enviar al carrito</small>
        </div>

        <div>
          <button id="favButton" type="button" class="btn btn-transparent btn-block" (click)="adminFavs()" data-toggle="tooltip"
            data-placement="top" title="{{tituloFavorito}}" [style.color]="favButton ? 'yellow' : 'black'">
            <span *ngIf="favButton"><i class="fas fa-star"></i></span>
            <span *ngIf="!favButton"><i class="far fa-star"></i></span>
          </button>
          <small *ngIf="favButton" class="d-block text-center">En lista de tus favoritos</small>
          <small *ngIf="!favButton" class="d-block text-center">Marcar como favorito</small>
        </div>

      </div>
      
      <div *ngIf="admin" class="d-flex justify-content-around border p-2">
        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editarProducto">Editar</button>
        <button type="button" class="btn btn-danger btn-sm" (click)='eliminarProducto()'>Eliminar</button>
      </div>
      
    </div>
  </div>
  <app-nube-tags [parametros]="parametro"></app-nube-tags>
</div>

<!-- Ventana emergente para actualizar producto --> 
<div class="modal fade" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="exampleModalLabel">Ingresa los nuevos datos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="actualizaProd">
          <div class="row d-flex">
            <div class="col-6 d-flex flex-column mb-3">
              <div class="form-group input-sm">
                <label >Nombre producto</label>
                <input class="form-control" type="text" name="nombre" #nombre='ngModel' [(ngModel)]="producto.nombre"
                  placeholder="Ingresa nombre del producto" required />
              </div>
  
              <div class="form-group">
                <label class="mt-2">Marca del producto</label>
                <input class="form-control" type="text" name="marca" #marca='ngModel' [(ngModel)]="producto.marca"
                  placeholder="Ingresa nombre del producto" required />
              </div>
  
              <div class="form-group">
                <label class="mt-2">Precio producto</label>
                <input class="form-control" type="text" name="precio" #precio='ngModel' [(ngModel)]="producto.precio"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  placeholder="Ingresa precio del producto" required />
              </div>
  
              <div class="form-group">
                <label class="mt-2">Precio promocion <small class="text-muted">(No requerido)</small></label>
                <input class="form-control" type="text" name="precioPromo" #precioPromo='ngModel' [(ngModel)]="producto.precioPromo"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Debe ser menor al precio original" />
              </div>
  
              <div class="form-group">
                <label class="mt-2">Tiempo promocion <small class="text-muted">(No requerido)</small></label>
                <input class="form-control" type="text" name="tiempoPromo" #tiempoPromo='ngModel' [(ngModel)]="producto.tiempoPromo"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Ingresa tiempo promocion valida" />
              </div>
  
              <div class="form-group">
                <label class="">Descripcion producto</label>
                <textarea class="form-control" name="descripcion" #descripcion='ngModel' rows="4" [(ngModel)]="producto.descripcion"
                  placeholder="Ingresa la descripcion del producto"></textarea>
              </div>            
            </div>

            <div class="col-6 d-flex flex-column mb-3">
              <div class="form-group">
                <label >Selecciona la Categoria</label>
                <select (change)='listarCategoria(producto.categoria)' class="form-control" name="categoria" #categoria='ngModel' [(ngModel)]="producto.categoria">
                  <option value="0">Elige una opcion </option>
                  <option *ngFor="let cat of listaCategorias"> {{cat.categoria}} </option>
                </select>
              </div>
  
              <div class="form-group">
                <label class="mt-3">Selecciona la SubCategoria</label>
                <select class="form-control" name="subCategoria" #subCategoria='ngModel' [(ngModel)]="producto.subCategoria" required>
                  <option value="0">Elige una opcion </option>
                  <option *ngFor="let subCat of listaSubCategorias">{{subCat}}</option>
                </select>
              </div>
  
              <div class="form-group">
                <label class="mt-2">Sube la imagen del producto</label>
                <angular-file-uploader [config]="afuConfig" (ApiResponse)="DocUpload($event)" class="mb-4">
                </angular-file-uploader>
                <img *ngIf="!producto?.imagen" src="../../../assets/img/no-imagen.jpg" class="img-thumbnail w-75 mt-2 mx-auto d-block"
                  alt={{producto?.nombre}} />
                <img *ngIf="producto?.imagen" src="{{url + 'mostrarImagen/' + producto?.imagen}}"
                  class="img-thumbnail w-75 mt-2 mx-auto d-block" alt={{producto.nombre}}/>
              </div>
            </div>
          </div>  
        </form>
      </div>

      <div class="modal-footer d-flex justify-content-around">        
        <button class="btn btn-primary" type="submit" (click)='editarProducto()'>Actualizar producto</button>
        <button type="button" class="btn btn-secondary" (click)="ngOnInit()" data-dismiss="modal">Close</button>        
      </div>

    </div>
  </div>
</div>
