<div class="container justify-content-around">
  <div class="row">
    <div class="col-12 col-md-8 my-2 my-md-4">
      <div class="card">
          <h3 class="text-center text-white bg-primary card-header">Listado de favoritos</h3>
          <table class="table table-striped table-responsive">
              <thead class="thead-dark">
                <tr>
                  <th class="col-1">No</th>
                  <th class="col-5">Descripcion</th>
                  <th class="col-2">Precio</th>
                  <th class="col-2">Enviar a carrito</th>
                  <th class="col-2">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prod of prodFavoritos; let i = index">
                  <th>{{ i + 1 }}</th>
                  <th>{{prod.nombre}}</th>
                  <td>{{prod.precio | currency}}</td>
                  <td data-toggle="tooltip" data-placement="top" title="Enviar al carrito de compras">
                    <button class="btn btn-success btn-sm ml-2" (click)="enviarCarrito(prod._id)"> <i class="fas fa-cart-plus"></i> </button>
                  </td>
                  <td data-toggle="tooltip" data-placement="top" title="Eliminar de mis favoritos">
                    <button class="btn btn-danger btn-sm ml-3" (click)="eliminaFav(prod._id)"> X </button>
                  </td>
                </tr>              
              </tbody>
            </table>
        
        <div class="card-body">
          <button class="btn btn-primary w-75 btn-block mx-auto" [routerLink]="['/../carrito']">Ir al carrito de compras</button>
          <button class="btn btn-warning w-75 btn-block mx-auto" (click)="borrarFavs()">Borrar todo el listado</button>
          <button class="btn btn-secondary w-75 btn-block mx-auto" [routerLink]="['/listado']">Volver al listado</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 my-2 my-md-4">
      <app-nube-tags [parametros]="parametro"></app-nube-tags>
    </div>
  </div>
</div>
