<div class="container justify-content-around">
  <div class="row">
    <div class="col-12 col-md-8 my-2 my-md-4">
      <div class="card">
        <h3 class="text-center text-white bg-primary card-header font-weight-bolder">Listado de favoritos</h3>
        <table class="table table-striped table-responsive">
          <thead class="thead-dark">
            <tr>
              <th class="col-1">No</th>
              <th class="col-5">Descripcion</th>
              <th class="col-2">Precio</th>
              <th class="col-2">Enviar a carrito</th>
              <th class="col-2">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of prodFavoritos; let i = index">
              <th>{{ i + 1 }}</th>
              <th>{{prod.nombre}} <br> <small *ngIf="prod.precioPromo" class="font-weight-normal">Producto en promocion <br>
                Valido hasta: {{prod.tiempoPromo | amLocale:'es' | amDateFormat:'MMMM DD YYYY'}}  </small> <br>
              </th>
              <td><span *ngIf="prod.precioPromo; else noPromo"> <del>{{prod.precio | currency}}</del> <br> {{prod.precioPromo | currency}}</span> 
              <ng-template #noPromo>{{prod.precio | currency}}</ng-template>
              </td>
              <td data-toggle="tooltip" data-placement="top" title="Enviar al carrito de compras">
                <button class="btn btn-success btn-sm ml-2" (click)="enviarCarrito(prod._id)"> <i
                    class="fas fa-cart-plus"></i> </button>
              </td>
              <td data-toggle="tooltip" data-placement="top" title="Eliminar de mis favoritos">
                <button class="btn btn-danger btn-sm ml-3" (click)="eliminaFav(prod._id)"> X </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-md-4 pt-4">
      <div class="d-flex justify-content-around flex-wrap">
        <button class="btn btn-primary flex-md-grow-1 mb-2" [routerLink]="['/../carrito']">Ir al carrito de compras</button>
        <button class="btn btn-warning flex-md-grow-1 mb-2" (click)="borrarFavs()">Borrar todo el listado</button>
        <button class="btn btn-secondary flex-md-grow-1 mb-2" [routerLink]="['/listado']">Volver al listado</button>
      </div>
      <app-nube-tags [parametros]="parametro"></app-nube-tags>
    </div>
  </div>
</div>
