<header>
  <div class="header-grid">
    <div class="logo">
      <img src="../../../assets/img/cats.jpg" alt="">
    </div>

    <h2 class="title">Colombia de todito</h2>

    <div class="logos-header text-center ">
      <div class="logos-inline d-inline-flex">
        <div>
          <i class="fa fa-user-plus"></i>
          <p>Registrate</p>          
        </div>
        <div>
          <i class="fa fa-key"></i>
          <p>Inicio sesion</p>
        </div>
        <div>
          <i class="fa fa-cart-plus"></i>
          <p>Carrito de compras</p>
        </div>
        <div>
          <i class="fa fa-heart"></i>
          <p>Favoritos</p>
        </div>
      </div>
    </div>

    <div class="form-search">
      <form class="form-inline">
        <input class="form-control mr-0" type="search" placeholder="Ingresa tu busqueda..." aria-label="Search" />
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</header>
