<header>
  <div class="header-grid">
    <div class="logo">
      <a [routerLink]="['/']">        
        <img src="../../../assets/img/logotienda.png" alt="logo tienda">
      </a>
    </div>

    <h2 class="title"><a [routerLink]="['/']">Colombia de todito </a></h2>

    <div class="logos-header text-center ">
      <div class="logos-inline d-inline-flex">
        <div>
          <a [routerLink]="['/registro']">
            <i class="fa fa-user-plus"></i>
            <p>Registrate</p>          
          </a>
        </div>
        <div>
          <a [routerLink]="['/inicioSesion']">
            <i class="fa fa-key"></i> 
            <p>Inicio sesion</p>
          </a>          
        </div>
        <div>
          <a [routerLink]="['/inicioSesion']">
            <i class="fa fa-cart-plus"></i>
            <p>Carrito de compras</p>
          </a>
        </div>
        <div>
          <a [routerLink]="['/inicioSesion']">
            <i class="fa fa-heart"></i>
            <p>Favoritos</p>
          </a>
        </div>
      </div>
    </div>

    <div class="form-search">
      <form class="form-inline">
        <input class="form-control mr-0" type="search" placeholder="Ingresa tu busqueda..." name="busqueda" [(ngModel)]="busqueda"/>
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" (click)='buscar()' >
          <i class="fa fa-search"></i> 
        </button>
      </form>
    </div>
  </div>
</header>
