<header>
  <div class="header-grid">
    <div class="logo">
      <a [routerLink]="['/']">
        <!-- <img src="../../../assets/img/logotienda.png" width="100" height="auto" alt="logo tienda"> -->
        <i class="fas fa-gem fa-3x" style="color: #007bff;"></i>
      </a>
    </div>

    <h2 class="title"><a [routerLink]="['/']">Colombia de todito </a></h2>
    <div *ngIf="userLogged" class="logos-header d-inline-flex justify-content-around">
      <div data-toggle="tooltip" data-placement="top" title="Ir a mi carrito de compras con {{numCarrito}} productos">
        <label for="lbl3"></label>
        <a id="lbl3" [routerLink]="['/carrito']" class="text-decoration-none">
          <i class="fas fa-cart-plus fa-xs"></i>
          <span class="ml-1"><sup style="font-size: small;" >{{numCarrito}}</sup></span>
        </a>
      </div>

      <div data-toggle="tooltip" data-placement="top" title="En tus favoritos hay {{cantFav}} articulos">
        <label for="lbl4"></label>
        <a id="lbl4" [routerLink]="['/favoritos']" class="text-decoration-none">
          <i class="far fa-heart fa-xs"></i>
          <span class="ml-1"><sup style="font-size: small;">{{cantFav}}</sup></span>
        </a>
      </div>
      <div data-toggle="tooltip" data-placement="top" title="Salir de la pagina">
        <label for="lbl5"></label>
        <a id="lbl5" (click)="auth.salida()" role="button">
          <i class="fas fa-sign-out-alt fa-xs"></i>
        </a>
      </div>
      <div data-toggle="tooltip" data-placement="top" title="Estas identificado como {{nombreUsuario}}">
        <label for="lbl6"></label>
        <a id="lbl6" [routerLink]="['/perfil/', nombreUsuario]">
          <i class="fas fa-user fa-xs"></i><span class="text-muted text-capitalize font-weight-light ml-3">{{nombreUsuario}}</span>
        </a>
      </div>
    </div>

    <div *ngIf="!userLogged" class="logos-header d-inline-flex justify-content-end">
      <div class="d-inline-flex" data-toggle="tooltip" data-placement="top" title="Registrate en nuestra pagina">
        <a [routerLink]="['/registro']">
          <i class="fa fa-user-plus fa-xs mr-2"></i>
          <label for="registro"><small>Registro</small></label>
        </a>
      </div>
      <div class="d-inline-flex ml-4" data-toggle="tooltip" data-placement="top" title="Inicio session">
        <a [routerLink]="['/inicioSesion']">
          <i class="fa fa-key fa-xs mr-2"></i>
          <label for="inicioSession"><small>Inicio sesion</small></label>
        </a>
      </div>
    </div>

    <div class="form-search">
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="Ingresa tu busqueda" [(ngModel)]='busqueda'>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-sm" type="button" (click)='buscar()'> <i class="fa fa-search fa-xs"></i></button>
        </div>
      </div>
    </div>
  </div>
</header>