<footer class="container-fluid bg-dark footer">
  <div class="ubicacion">
    <h4 class="mb-3 text-center">Toda nuestra informacion </h4>
    <h6><i class="fas fa-map-marker-alt mr-3"></i>Avenida siempre viva No 54 -26</h6>
    <h6><i class="fa fa-phone mr-3"></i>Telefono: 032 554 71 08</h6>
    <h6><i class="fab fa-whatsapp mr-3"></i>Celular: 312 569 87 41</h6>
    <h6><i class="fa fa-envelope mr-3"></i>Correo electronico: informacionalterno@outlook.com</h6>
  </div>

  <div class="social text-center">
    <h4 class="mb-3">Siguenos en redes sociales</h4>
    <div class="logosSociales">
      <a href="../www.facebok.com" target="_blank">
        <i class="fab fa-facebook"></i>
        <p>Facebook</p>
      </a>

      <a href="www.youtube.com" target="_blank">
        <i class="fab fa-youtube "></i>
        <p>Youtube</p>
      </a>

      <a href="www.twitter.com" target="_blank">
        <i class="fab fa-twitter"></i>
        <p>Twitter</p>
      </a>

      <a href="www.instagram.com" target="_blank">
        <i class="fab fa-instagram "></i>
        <p>Instagram</p>
      </a>
    </div>
  </div>
  <div class="developedBy d-flex flex-direction-column">
    <img src="../../../assets/img/giant-panda.webp" alt="Logo desarrollador" class="img-thumbnail mr-md-2">
    <p class="my-auto"><strong> Desarrollado por: </strong> <a href="https://github.com/rubendario981" target="_blank">
        Panda's Productions</a></p>
  </div>
</footer>
