<footer class="bg-dark">
  <div class="form-subscribe">
    <div class="card bg-dark">
      <h5 class="card-title text-center bg-white">Suscribete</h5>
      <div class="card-body">        
        <div class="form-group px-3">
          <label for="" class="mt-2 mb-n2">Nombres y apellidos</label>
          <input class="" type="text">
          <label for="" class="mt-2 mb-n2">Correo electronico</label>
          <input type="text">
          <label for="" class="mt-2 mb-n2">Deja tus comentarios</label>
          <textarea name="" id="" rows="4"></textarea>
        </div>
        <div class="cont-btns px-3">
          <button class="btn btn-success">
            Registrarse
          </button>
          <button class="btn btn-danger">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ubicacion">
    <h4 class="mb-3">Toda nuestra informacion </h4>
    <h5><i class="fas fa-map-marker-alt mr-3 mb-2"></i>Avenida siempre viva No 54 -26</h5>
    <h6><i class="fa fa-phone mr-3 mb-2"></i>Telefono: 032 554 71 08</h6>
    <h6><i class="fab fa-whatsapp mr-3 mb-2"></i>Celular: 312 569 87 41</h6>
    <h6><i class="fa fa-envelope mr-3 mb-2"></i>Correo electronico: informacionalterno@outlook.com</h6>    
    <hr>
    <h4 class="mb-3">Siguenos en redes sociales</h4>
    <div class="social text-center">
      <div>
        <i class="fab fa-facebook"></i>
        <p>Facebook</p>
      </div>
      <div>
        <i class="fab fa-youtube "></i>
        <p>Youtube</p>
      </div>
      <div>
        <i class="fab fa-twitter"></i>
        <p>Twitter</p>
      </div>
      <div>
        <i class="fab fa-instagram "></i>
        <p>Instagram</p>
      </div>
      
    </div>
  </div>
</footer>
