<div class="form-subscribe card border border-primary mt-4">
  <h5 class="card-header text-center bg-primary text-white p-2">Suscribete</h5>
  <form method="post" #regUser="ngForm" (ngSubmit)="registrarUsuario()">
    <div class="card-body d-flex flex-direction-column">
      <div class="form-group ">
        <label for="" class="mt-2 mb-n2">Nombres y apellidos</label>
        <input type="text" name="nombres" class="w-100" #nombres='ngModel' [(ngModel)]="usuario.nombres"
          placeholder="Ingresa tus nombres" required>

        <label for="" class="mt-3 mb-n2">Correo electronico</label>
        <input type="text" name="correo" class="w-100" #correo='ngModel' [(ngModel)]="usuario.correo"
          placeholder="Ingresa tu correo electronico" required>

        <label for="" class="mt-3 mb-n2">NickName <span class="text-muted">(no es obligatorio)</span> </label>
        <input type="text" name="nickName" class="w-100" #nickName='ngModel' [(ngModel)]="usuario.nickName"
          placeholder="Ingresa un nick ">

        <label for="" class="mt-3 mb-n2">Ingresa la contraseña</label>
        <input type="password" name="clave" class="w-100" #clave='ngModel' [(ngModel)]="usuario.password"
          placeholder="Ingresa la contraseña" required>

        <label for="" class="mt-3 mb-n2">Ingresa la contraseña</label>
        <input type="password" name="clave2" class="w-100 mb-4" #clave2='ngModel' [(ngModel)]="usuario.password2"
          placeholder="Repite la contraseña" required>
        <div *ngIf="conincidePass()">Las contraseñas no coinciden</div>

        <div class="cont-btns d-flex justify-content-around">
          <button class="btn btn-success" type="submit" [disabled]="!regUser.valid"> Registrarse </button>
          <button class="btn btn-danger" (click)="cancela()"> Cancelar </button>
        </div>
      </div>
    </div>
  </form>
</div>
