<div class="modAdmin w-75">
  <div class="card crearCategoria">
    <h4 class="card-header bg-primary text-center text-white">Crear Categoria</h4>
    <div class="card-body my-4">
      <label class="pb-0">Nombre Categoria nueva</label>
      <input type="text" name="nomCat" #nomCat='ngModel' [(ngModel)]="producto.categoria"
        placeholder="Ingresa nombre del producto" />
      <div class="grupoBotones mt-4">
        <button class="btn btn-primary" type="submit">Crear categoria</button>
        <button class="btn btn-danger" (click)="cancela()">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="card crearSubCategoria">
    <h4 class="card-header bg-primary text-center text-white">Crear SubCategoria</h4>
    <div class="card-body">
      <label class="pb-0">Selecciona la Categoria principal</label>
      <select>
        <option selected value="0">Elige una opcion </option>
        <option *ngFor="let cat of categorias" value="">{{cat.categoria}}</option>
      </select>

      <label class="mt-4 pb-0">Nombre SubCategoria nueva</label>
      <input type="text" name="nomSubCat" #nomSubCat='ngModel' [(ngModel)]="producto.subCategoria"
        placeholder="Ingresa nombre del producto" />
      <div class="grupoBotones mt-4">
        <button class="btn btn-primary" type="submit">Crear Subcategoria</button>
        <button class="btn btn-danger" (click)="cancela()">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="card creaProducto">
    <h4 class="card-header bg-primary text-center text-white">Ingresa los datos del producto nuevo</h4>
    <form class="miForm" #login2="ngForm" (ngSubmit)="crearProducto()">
      <div class="card-body">
        <div class="row d-flex">
          <div class="col-6 d-flex flex-column">
            <label class="pb-0">Nombre producto</label>
            <input type="text" name="nomProd" #nomProd='ngModel' [(ngModel)]="producto.nombre"
              placeholder="Ingresa nombre del producto" required />

            <label class="mt-4 pb-0">Marca del producto</label>
            <input type="text" name="marca" #marca='ngModel' [(ngModel)]="producto.marca"
              placeholder="Ingresa nombre del producto" required />

            <label class="mt-4 pb-0">Precio producto</label>
            <input type="text" name="precio" #precio='ngModel' [(ngModel)]="producto.precio"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="producto.precio"
              placeholder="Ingresa precio del producto" pattern="[0-9]" required />

            <label class="mt-4 pb-0">Descripcion producto</label>
            <textarea name="descrip" #descrip='ngModel' rows="4" [(ngModel)]="producto.descripcion"
              placeholder="Ingresa la descripcion del producto" required></textarea>
          </div>

          <div class="col-6 d-flex flex-column">
            <label class="pb-0">Selecciona la Categoria</label>
            <select name="categoria" #categoria='ngModel' [(ngModel)]="producto.categoria">
              <option selected value="0">Elige una opcion </option>
              <option *ngFor="let cat of categorias" value="">{{cat.categoria}}</option>
            </select>

            <label class="mt-4 pb-0">Selecciona la SubCategoria</label>
            <select name="subCategoria" #subCategoria='ngModel' [(ngModel)]="producto.subCategoria">
              <option selected value="0">Elige una opcion </option>
              <option *ngFor="let cat of subCategorias" value="">{{cat.subCategoria}}</option>
            </select>
            
            <label class="mt-4 pb-0">Sube la imagen del producto</label>
            <angular-file-uploader
                  [config]="afuConfig"
                  (ApiResponse)="DocUpload($event)">
            </angular-file-uploader>
            
          </div>

        </div>

        <div class="grupoBotones mt-4">
          <button class="btn btn-primary" type="submit">Crear producto</button>
          <button class="btn btn-danger" (click)="cancela()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
