<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9 my-2 my-md-4 mx-auto">
      <div class="card">
        <h3 class="text-center text-white bg-primary card-header">Carrito de compras</h3>
        <table class="table table-striped table-responsive-md ">
          <thead class="thead-dark">
            <tr>
              <th colspan="7">Descripcion</th>
              <th colspan="3">Precio unitario</th>
              <th colspan="1">Cantidad</th>
              <th colspan="3">Sub-Total</th>
              <th colspan="1">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of carritoCompras">
              <th colspan="7">{{prod.nombre}}
                <small class="font-weigth-normal text-muted"
                  *ngIf="(prod.tiempoPromo | date: 'shortDate') >= (fecha | date: 'shortDate')">
                  (Precio promocional)
                </small></th>

              <td colspan="3" *ngIf="(prod.tiempoPromo | date: 'shortDate') >= (fecha | date: 'shortDate')">
                {{prod.precioPromo | currency}}</td>
              <td colspan="3"
                *ngIf="!prod.tiempoPromo ||((prod.tiempoPromo | date: 'shortDate') < (fecha | date: 'shortDate'))">
                {{prod.precio | currency}}</td>

              <td colspan="1"><input type="number" value="0" [(ngModel)]="prod.cantidad" min="0" max="100" step="1"
                  style="height: 1.2rem; font-size: 0.7rem;" class="w-50 ml-2 pr-0"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57">
              </td>
              <td colspan="3" *ngIf="(prod.tiempoPromo | date: 'shortDate') >= (fecha | date: 'shortDate')">
                {{prod.precioPromo * prod.cantidad | currency }}</td>
              <td colspan="3"
                *ngIf="!prod.tiempoPromo || ((prod.tiempoPromo | date: 'shortDate') < (fecha | date: 'shortDate'))">
                {{prod.precio * prod.cantidad | currency }}</td>
              <td colspan="1" data-toggle="tooltip" data-placement="top" title="Eliminar del carrito">
                <button class="btn btn-danger btn-sm ml-3" (click)="eliminaCart(prod._id)"> X </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="bg-dark text-white">
              <th colspan="10" class="text-center">Total</th>
              <td colspan="5" class="text-center">{{calTotal() | currency }}</td>
            </tr>
          </tfoot>
        </table>

        <div class="card-body">
          <button class="btn btn-primary w-75 btn-block mx-auto" type="button" (click)="aviso()" data-toggle="modal"
            data-target="#procesarPago">Procesar pago </button>
          <button class="btn btn-warning w-75 btn-block mx-auto" (click)="vaciarCart()">Borrar todo el listado</button>
          <button class="btn btn-secondary w-75 btn-block mx-auto" [routerLink]="['/listado']">Volver al
            listado</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="procesarPago" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Inicio proceso de pago</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulario de pago mercado pago -->
        <form action="/process_payment" method="post" id="paymentForm">
          <h3>Detalles del comprador</h3>
          <div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input disabled class="form-control" id="email" name="email" type="text" value="test@test.com">
            </div>
            <div class="input-group">
              <div class="form-group pl-0 pr-1 col-5">
                <label for="docType">Tipo de documento</label>
                <select disabled class="form-control" id="docType" name="docType" data-checkout="docType" type="text"></select>
              </div>
              <div class="form-group px-0 col-7">
                <label for="docNumber">No. de documento</label>
                <input disabled class="form-control" id="docNumber" name="docNumber" data-checkout="docNumber" type="text" />
              </div>              
            </div>
          </div>
          <h3>Detalles de la tarjeta</h3>
          <div>
            <div class="input-group">
              <div class="form-group px-0 col-7">
                <label for="cardholderName">Titular de la tarjeta</label>
                <input disabled class="form-control" id="cardholderName" data-checkout="cardholderName" type="text">
              </div>
              <div class="form-group pl-1 pr-0 col-5">
                <label for="">Fecha de vencimiento</label>
                <div class="input-group">
                  <input disabled class="form-control" type="text" placeholder="MM" id="cardExpirationMonth" data-checkout="cardExpirationMonth"
                    onselectstart="return false" onpaste="return false" oncopy="return false" oncut="return false"
                    ondrag="return false" ondrop="return false" autocomplete=off>
                  <span class="date-separator">/</span>
                  <input disabled class="form-control"  type="text" placeholder="YY" id="cardExpirationYear" data-checkout="cardExpirationYear"
                    onselectstart="return false" onpaste="return false" oncopy="return false" oncut="return false"
                    ondrag="return false" ondrop="return false" autocomplete=off>
                </div>
              </div>
            </div>

            <div class="input-group">
              <div class="form-group px-0 col-7">
                <label for="cardNumber">Número de la tarjeta</label>
                <input disabled class="form-control" type="text" id="cardNumber" data-checkout="cardNumber"
                onselectstart="return false" onpaste="return false" oncopy="return false" oncut="return false"
                ondrag="return false" ondrop="return false" autocomplete=off>
              </div>
              <div class="form-group pl-1 pr-0 col-5">
                <label for="securityCode">Código de seguridad</label>
                <input disabled class="form-control" id="securityCode" data-checkout="securityCode" type="text"
                onselectstart="return false" onpaste="return false" oncopy="return false" oncut="return false"
                ondrag="return false" ondrop="return false" autocomplete=off>                
              </div>
            </div>

            <div class="input-group">	
              <div class="form-group pl-0 pr-1 col-9" id="issuerInput">
                <label disabled for="issuer">Banco emisor</label>
                <select disabled class="form-control" id="issuer" name="issuer" data-checkout="issuer"></select>
              </div>
              <div class="form-group px-0 col-3">
                <label for="installments">Cuotas</label>
                <select disabled class="form-control" type="text" id="installments" name="installments"></select>
              </div>
            </div>
          </div>

          <div class="modal-footer justify-content-between">
            <input type="hidden" name="transactionAmount" id="transactionAmount" value="100" />
            <input type="hidden" name="paymentMethodId" id="paymentMethodId" />
            <input type="hidden" name="description" id="description" />
            <br>
            <button class="btn btn-primary w-25" type="submit" (click)="aviso()">Pagar</button>
            <button type="button" class="btn btn-secondary w-25" data-dismiss="modal">Cancelar</button>
            <br>
          </div>
      </form>
    </div>
  </div>
</div>
