<div class="inicioSesion" style="background-image: url(../../../assets/img/undraw_Lighthouse_frb8.svg);">
  <div class="card">
    <h4 class="card-header text-center bg-primary text-white">Modulo para inicio de sesion</h4>
    <form class="card-body" #login="ngForm" (ngSubmit)="ingresar()">
      <label for="" class="mb-0">Correo electronico </label>
      <input type="text" name="correo" placeholder="Ingresa tu correo electronico " #correo="ngModel" [(ngModel)]="usuario.correo"/>
      <label for="" class="mt-4 mb-0">Contraseña</label>
      <input type="password" name="password" id="" placeholder="Ingresa tu contraseña" #password="ngModel" [(ngModel)]="usuario.password" />
      <div class="grupoBotones">
        <button class="btn btn-primary" type="submit">Ingresar</button>
        <button class="btn btn-danger" (click)="cancela()">Cancelar</button> 
      </div>
    </form>
  </div>
</div>
